@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
  --01-purple: #7C5DFA;
  --02-light-puple: #9277FF;
  --03-very-dark-blue: #1E2139;
  --04-dark-blue: #252945;
  --05-very-light-purple: #DFE3FA;
  --06-gray: #888EB0;
  --07-grayish-blue: #7E88C3;
  --08-text-color: #0C0E16;
  --09-red: #EC5757;
  --10-red-hover: #FF9797;
  --11-light-bg: #F8F8FB;
  --12-black: #141625;
  --13-header-bg: #373B53;
  --14-white: #FFFFFF;
  --15-text-gray: #858BB2;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: "League Spartan", serif;
  background-color: var(--11-light-bg);
  transition: background-color 0.5s;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
  font-family: "League Spartan", serif;
  text-decoration: none;
}

/* mobile css */

/* header css */

.header{
  background-color: var(--13-header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

body.dark-mode .header{
  background-color: var(--03-very-dark-blue);
}

.header a, .header a img{
  height: 72px;
}

.header img{
  cursor: pointer;
}

.header-wrapper{
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-wrapper span.divider{
  display: block;
  height: 72px;
  width: 1px;
  background-color: #494E6E;
}

/* header css */

/* container css */

/* InvoicesContainer css */

.invoices-container, .invoice-details-container{
  padding: 32px 24px;
}

.invoices-info-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

body.dark-mode{
  background-color: var(--12-black);
  transition: all 0.5s;
}

.invoices-info h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 22.08px;
  letter-spacing: -0.75px;
  color: var(--08-text-color);
  margin-bottom: 3px;
}

body.dark-mode .invoices-info h2{
  color: var(--14-white);
}

.invoices-info p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--06-gray);
}

body.dark-mode .invoices-info p{
  color: var(--05-very-light-purple);
}

.invoices-action-buttons{
  display: flex;
  align-items: center;
  gap: 18.54px;
}

.filter-btn-container{
  position: relative;
  transition: rotate 0.5s;
}

.filter-btn-container .drop-down-menu{
  display: none;
}

.filter-btn-container button{
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: right;
  color: var(--08-text-color);
  background-color: transparent;
  border: none;
  outline: none;
}

body.dark-mode .filter-btn-container button{
  color: var(--14-white);
}

.filter-btn-container.active .drop-down-menu{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  z-index: 3;
  top: 25px;
  right: -50%;
  background-color: var(--14-white);
  width: 132px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px #48549F40;
}

.filter-btn-container.active img{
  rotate: 180deg;
}

.filter-btn-container img{
  transition: rotate 0.5s;
}

body.dark-mode .filter-btn-container.active .drop-down-menu{
  background-color: var(--04-dark-blue);
  box-shadow: 0px 10px 20px 0px #00000040;
}

.drop-down-menu label{
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
  cursor: pointer;
}

body.dark-mode .drop-down-menu label{
  color: var(--14-white);
}

.drop-down-menu label input{
  display: none;
}

.drop-down-menu label span{
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--05-very-light-purple);
  border: 1px solid var(--05-very-light-purple);
  border-radius: 2px;
}

body.dark-mode .drop-down-menu label span{
  background-color: var(--03-very-dark-blue);
  border-color: var(--03-very-dark-blue);
}

.drop-down-menu label input:checked + span{
  background-image: url('../images/check-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--01-purple);
  border: 1px solid var(--01-purple);
}

.invoices-action-buttons a{
  text-decoration: none;
  padding: 6px 15px 6px 6px;
  background-color: var(--01-purple);
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.invoices-action-buttons a span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--14-white);
}

.invoices-action-buttons a p{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--14-white);
  text-align: center;
  position: relative;
  top: 2px;
}

.invoice-carts-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.invoice-cart{
  border-radius: 8px;
  background-color: var(--14-white);
  padding: 25px 22px 22px;
  cursor: pointer;
}

body.dark-mode .invoice-cart{
  background-color: var(--03-very-dark-blue);
  box-shadow: 0px 10px 10px -10px #48549F1A;
}

.invoice-cart-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.invoice-cart-header p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  text-align: right;
  color: #858BB2;
}

body.dark-mode .invoice-cart-header p{
  color: var(--14-white);
}

.invoice-cart-header p.id, .invoice-detail-container p.id{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
}

body.dark-mode .invoice-cart-header p.id, body.dark-mode .invoice-detail-container p.id{
  color: var(--14-white);
}

.invoice-cart-header p.id span, .invoice-detail-container p.id span{
  color: #7E88C3;
}

body.dark-mode .invoice-cart-header p.id span, .invoice-detail-container p.id span{
  color: var(--07-grayish-blue);
}

.invoice-cart-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice-cart-body-wrapper p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #888EB0;
  margin-bottom: 9px;
}

body.dark-mode .invoice-cart-body-wrapper p{
  color: var(--05-very-light-purple);
}

.invoice-cart-body-wrapper p.price{
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
  margin-bottom: 0;
}

body.dark-mode .invoice-cart-body-wrapper p.price{
  color: var(--14-white);
}

.invoice-cart-status{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  gap: 8px;
  padding: 14px;
  border-radius: 6px;
}

.invoice-cart-status span{
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.invoice-cart-status p{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  position: relative;
  top: 1px;
}

.invoice-cart-status.paid{
  background-color: rgba(51, 214, 159, 0.06);
}

.invoice-cart-status.paid span{
  background-color: #33D69F;
}

.invoice-cart-status.paid p{
  color: #33D69F;
}

body.dark-mode .invoice-cart-status.paid p{
  color: #33D69F;
}

.invoice-cart-status.pending{
  background-color: rgba(255, 143, 0, 0.06);
}

.invoice-cart-status.pending span{
  background-color: #FF8F00;
}

.invoice-cart-status.pending p{
  color: #FF8F00;
}

body.dark-mode .invoice-cart-status.pending p{
  color: #FF8F00;
}

.invoice-cart-status.draft{
  background-color: rgba(55, 59, 83, 0.06);
}

body.dark-mode .invoice-cart-status.draft{
  background-color: rgba(223, 227, 250, 0.05);
}

.invoice-cart-status.draft span{
  background-color: #373B53;
}

.invoice-cart-status.draft p{
  color: #373B53;
}

body.dark-mode .invoice-cart-status.draft span{
  background-color: var(--05-very-light-purple);
}

body.dark-mode .invoice-cart-status.draft p{
  color: var(--05-very-light-purple);
}

.empty-invoices-container{
  height: calc(100vh - 223px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-invoices-container img{
  margin-bottom: 42px;
}

.empty-invoices-container h1{
  font-weight: 700;
  font-size: 24px;
  line-height: 22.08px;
  letter-spacing: -0.75px;
  color: var(--08-text-color);
  margin-bottom: 24px;
}

body.dark-mode .empty-invoices-container h1{
  color: var(--14-white);
}

.empty-invoices-container p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  text-align: center;
  color: var(--06-gray);
}

body.dark-mode .empty-invoices-container p{
  color: var(--05-very-light-purple);
}

.empty-invoices-container span{
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  text-align: center;
}

/* InvoicesContainer css */

/* GoBackButton css */

.go-back-btn{
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
  margin-bottom: 31px;
  cursor: pointer;
}

body.dark-mode .go-back-btn{
  color: var(--14-white);
}

.go-back-btn img{
  rotate: 90deg;
  position: relative;
  top: -1.5px;
}

/* GoBackButton css */

/* InvoiceDetails css */

.invoice-details-container{
  padding-bottom: 0;
}

.invoice-status{
  background-color: var(--14-white);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 16px;
}

.invoice-status-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.dark-mode .invoice-status{
  background-color: var(--03-very-dark-blue);
  box-shadow: 0px 10px 10px -10px #48549F1A;
}

.invoice-status p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--15-text-gray);
}

body.dark-mode .invoice-status p{
  color: var(--05-very-light-purple);
}

.invoice-detail-container{
  background-color: var(--14-white);
  border-radius: 8px;
  margin-bottom: 56px;
  padding: 24px;
}

body.dark-mode .invoice-detail-container{
  background-color: var(--03-very-dark-blue);
  box-shadow: 0px 10px 10px -10px #48549F1A;
}

.invoice-detail-container p.description{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--07-grayish-blue);
  margin-bottom: 30px;
  margin-top: 4px;
}

body.dark-mode .invoice-detail-container p.description, body.dark-mode .bill-from p, body.dark-mode .invoice-date-item p, body.dark-mode .sent-to p, body.dark-mode .bill-to p{
  color: var(--05-very-light-purple);
}

.bill-from{
  margin-bottom: 31px;
}

.bill-from p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--07-grayish-blue);
}

.invoice-detail-container-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.invoice-date{
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.invoice-date-item p, .sent-to p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--07-grayish-blue);
  margin-bottom: 10px;
}

.invoice-date-item p:last-child, .sent-to p:last-child{
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
  margin-bottom: 0;
}

body.dark-mode .invoice-date-item p:last-child, body.dark-mode .sent-to p:last-child, body.dark-mode .bill-to p.name{
  color: var(--14-white);
}

.bill-to p{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--07-grayish-blue);
}

.bill-to p.name{
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
  margin-top: 13px;
  margin-bottom: 7px;
}

.sent-to{
  margin-bottom: 38px;
}

.payment{
  background-color: #F9FAFE;
  border-radius: 8px;
}

body.dark-mode .payment{
  background-color: var(--04-dark-blue);
}

.payment-items{
  padding: 25px 24px 23px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.payment-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-item-wrapper p, .payment-item p.price{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
  margin-bottom: 8px;
}

body.dark-mode .payment-item-wrapper p, body.dark-mode .payment-item p.price{
  color: var(--14-white);
}

.payment-item-wrapper p:last-child{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--07-grayish-blue);
  margin-bottom: 0;
}

body.dark-mode .payment-item-wrapper p:last-child{
  color: var(--06-gray);
}

.payment-item p.price{
  margin-bottom: 0;
}

.grand-total{
  background-color: #373B53;
  border-radius: 0 0 8px 8px;
  padding: 26px 24px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.dark-mode .grand-total{
  background-color: var(--08-text-color);
}

.grand-total p{
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: var(--14-white);
}

.grand-total p:last-child{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: right;
}

.invoice-detail-buttons{
  background-color: var(--14-white);
  padding: 21px 24px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

body.dark-mode .invoice-detail-buttons{
  background-color: var(--03-very-dark-blue);
  box-shadow: 0px 10px 10px -10px #48549F1A;
}

.invoice-detail-buttons--tablet{
  display: none;
}

.invoice-detail-buttons .edit-btn{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  text-decoration: none;
  color: var(--07-grayish-blue);
  padding: 18px 23px 15px 24px;
  background-color: #F9FAFE;
  border-radius: 24px;
  cursor: pointer;
}

body.dark-mode .invoice-detail-buttons .edit-btn, body.dark-mode .modal-buttons button{
  color: var(--05-very-light-purple);
  background-color: var(--04-dark-blue);
}

.invoice-detail-buttons .delete-btn{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--14-white);
  background-color: var(--09-red);
  padding: 18px 25px 15px 24px;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.invoice-detail-buttons .mark-btn{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--14-white);
  background-color: var(--01-purple);
  border-radius: 24px;
  border: none;
  outline: none;
  padding: 18px 28px 15px 27px;
  width: 100%;
  cursor: pointer;
}

.invoice-detail-buttons .edit-btn.pending-btn, .invoice-detail-buttons .delete-btn.pending-btn{
  width: 100%;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  background-color: var(--14-white);
  border-radius: 8px;
  padding: 34px 32px 32px;
  margin-inline: 24px;
}

body.dark-mode .modal-content{
  background-color: var(--03-very-dark-blue);
}

.modal-content h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--08-text-color);
  margin-bottom: 8px;
}

body.dark-mode .modal-content h2{
  color: var(--14-white);
}

.modal-content p{
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: var(--06-gray);
  margin-bottom: 22px;
}

.modal-buttons{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.modal-buttons button{
  padding: 18px 24px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--07-grayish-blue);
  background-color: #F9FAFE;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-buttons a{
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--14-white);
  background-color: var(--09-red);
  padding: 18px 25px 15px 24px;
  border-radius: 24px;
  cursor: pointer;
}

/* InvoiceDetails css */

/* EditInvoice css */

.edit-invoice-container{
  background-color: var(--14-white);
  overflow-y: auto;
  height: calc(100dvh - 80px);
  padding: 33px 24px 0;
}

body.dark-mode .edit-invoice-container{
  background-color: var(--12-black);
}

.edit-invoice-container h1{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--08-text-color);
  margin-bottom: 22px;
}

body.dark-mode .edit-invoice-container h1{
  color: var(--14-white);
}

.edit-invoice-container h1 span{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--07-grayish-blue);
}

body.dark-mode .edit-invoice-container h1 span{
  color: #777f98;
}

.bill-from-form, .bill-to-form{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 41px;
}

.bill-from-form h2, .bill-to-form h2{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--01-purple);
}

.bill-from-form-input .bill-from-form-input-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}

.bill-from-form-input .bill-from-form-input-title h3, .payment-terms-input h3, .item-list-form .item h3{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--07-grayish-blue);
  margin-bottom: 9px;
}

.bill-from-form-input .bill-from-form-input-title h3{
  margin-bottom: 0;
}

body.dark-mode .bill-from-form-input .bill-from-form-input-title h3, body.dark-mode .payment-terms-input h3, body.dark-mode .item-list-form .item h3{
  color: var(--06-gray);
}

.bill-from-form-input input, .item-list-form .item input{
  width: 100%;
  padding: 18px 20px 15px;
  border: 1px solid var(--05-very-light-purple);
  background-color: transparent;
  color: var(--08-text-color);
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  border-radius: 4px;
  outline: none;
}

body.dark-mode .bill-from-form-input input, body.dark-mode .item-list-form .item input{
  color: var(--14-white);
  border-color: var(--04-dark-blue);
  background-color: var(--03-very-dark-blue);
}

.bill-from-form-input input:focus, body.dark-mode .bill-from-form-input input:focus{
  border-color: var(--01-purple);
}

.bill-from-form-input.error input, body.dark-mode .bill-from-form-input.error input{
  border-color: var(--09-red);
}

.bill-from-form-wrapper{
  display: flex;
  align-items: center;
  gap: 23px;
}

.dates, .dates-wrapper{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dates{
  margin-bottom: 69px;
}

.invoice-date-input-disabled{
  opacity: 0.5;
}

.invoice-date-input-disabled h3, .invoice-date-input-active h3{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: var(--07-grayish-blue);
  margin-bottom: 9px;
}

body.dark-mode .invoice-date-input-disabled h3, body.dark-mode .invoice-date-input-active h3{
  color: var(--06-gray);
}

.invoice-date-input{
  position: relative;
  padding: 18px 20px 15px;
  border: 1px solid var(--05-very-light-purple);
  border-radius: 4px;
}

body.dark-mode .invoice-date-input{
  border-color: var(--04-dark-blue);
  background-color: var(--03-very-dark-blue);
}

.invoice-date-input p{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
}

body.dark-mode .invoice-date-input p{
  color: var(--14-white);
}

.invoice-date-input img{
  position: absolute;
  right: 16px;
  top: 16px;
}

.payment-terms-input{
  position: relative;
}

.payment-terms-input button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 20px 15px;
  background-color: transparent;
  border: 1px solid var(--05-very-light-purple);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

body.dark-mode .payment-terms-input button{
  border-color: var(--04-dark-blue);
  background-color: var(--03-very-dark-blue);
}

.payment-terms-input.selecting button, body.dark-mode .payment-terms-input.selecting button{
  border-color: var(--01-purple);
}

.payment-terms-input button img{
  transition: rotate 0.5s;
}

.payment-terms-input.selecting button img{
  rotate: 180deg;
}

.payment-terms-input button p{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
}

body.dark-mode .payment-terms-input button p{
  color: var(--14-white);
}

.payment-terms-input.selecting .payment-terms-input-drop-down-menu{
  display: block;
  position: absolute;
  top: 81px;
  left: 0;
  background-color: var(--14-white);
  width: 100%;
  padding: 0 24px;
  box-shadow: 0px 10px 20px 0px #48549F40;
  border-radius: 8px;
}

body.dark-mode .payment-terms-input.selecting .payment-terms-input-drop-down-menu{
  background-color: var(--04-dark-blue);
  box-shadow: 0px 10px 20px 0px #00000040;
}

.payment-terms-input.selecting .payment-terms-input-drop-down-menu p{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--08-text-color);
  padding: 16px 0;
  border-bottom: 1px solid var(--05-very-light-purple);
  cursor: pointer;
}

body.dark-mode .payment-terms-input.selecting .payment-terms-input-drop-down-menu p{
  color: var(--14-white);
  border-color: var(--03-very-dark-blue);
}

.payment-terms-input.selecting .payment-terms-input-drop-down-menu p:last-child{
  border: none;
}

.payment-terms-input .payment-terms-input-drop-down-menu{
  display: none;
}

.item-list-form h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.38px;
  color: #777F98;
  margin-bottom: 22px;
}

.item-list-form .item{
  margin-bottom: 48px;
}

.item-list-form .item .item-wrapper{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 25px;
}

.item-list-form .item .item-wrapper img{
  margin-left: 52px;
  margin-top: 22px;
  align-self: center;
  cursor: pointer;
}

.item-list-form .item .item-wrapper .item-total{
  align-self: self-start;
}

.item-list-form .item .item-wrapper .item-total h3{
  margin-bottom: 27px;
}

.item-list-form .item .item-wrapper .item-total p{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--06-gray);
}

.item-list-form button{
  padding: 18px 20px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--07-grayish-blue);
  width: 100%;
  background-color: #F9FAFE;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.item-list-form button.edit-container-btn{
  margin-bottom: 92px;
}

body.dark-mode .item-list-form button{
  color: var(--06-gray);
  background-color: var(--04-dark-blue);
}

.error-text{
  display: none;
}

.empty-error-texts{
  margin-top: 33px;
}

.edit-invoice-buttons{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--14-white);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 21px 24px 22px;
}

body.dark-mode .edit-invoice-buttons, body.dark-mode .create-invoice-buttons{
  background-color: var(--12-black);
}

.edit-invoice-buttons a{
  text-decoration: none;
  padding: 18px 26.5px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--07-grayish-blue);
  background-color: #F9FAFE;
  border-radius: 24px;
  cursor: pointer;
}

body.dark-mode .edit-invoice-buttons a, body.dark-mode .create-invoice-buttons a{
  color: var(--05-very-light-purple);
  background-color: var(--04-dark-blue);
}

.edit-invoice-buttons button{
  color: var(--14-white);
  background-color: var(--01-purple);
  padding: 18px 24px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* EditInvoice css */

/* CreateInvoice css */

.invoice-date-input-active{
  position: relative;
}

.date-picker{
  position: absolute;
  right: 0;
  top: 82px;
  background-color: var(--14-white);
  z-index: 5;
  padding: 26px 19px 31px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px #48549F40;
  width: inherit;
  display: none;
}

body.dark-mode .date-picker{
  background-color: var(--04-dark-blue);
  box-shadow: 0px 10px 20px 0px #00000040;
}

.invoice-date-input-active.selecting .invoice-date-input{
  border-color: var(--01-purple);
}

.invoice-date-input-active.selecting .date-picker{
  display: block;
}

.date-picker-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;
  margin-bottom: 32px;
}

.date-picker-header p{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--08-text-color);
  position: relative;
  top: 2px;
}

body.dark-mode .date-picker-header p{
  color: var(--14-white);
}

.prev-month{
  rotate: 90deg;
  cursor: pointer;
}

.next-month{
  rotate: -90deg;
  cursor: pointer;
}

.date-picker-btns{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px 14px;
}

.date-picker-btns button{
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--08-text-color);
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

body.dark-mode .date-picker-btns button{
  color: var(--14-white);
}

.create-invoice-buttons{
  background-color: var(--14-white);
  padding: 21px 0 22px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
}

.create-invoice-buttons-wrapper{
  display: flex;
  align-items: center;
  gap: 7px;
}

.create-invoice-buttons a{
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--07-grayish-blue);
  padding: 18px 19px 15px 18px;
  background-color: #F9FAFE;
  border-radius: 24px;
  cursor: pointer;
}

.create-invoice-buttons button{
  padding: 18px 15px 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--14-white);
  background-color: var(--01-purple);
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.create-invoice-buttons button.draft-btn{
  color: var(--06-gray);
  background-color: #373B53;
}

.bill-from-form-input.error .error-text, .field-error-text{
  display: block;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.21px;
  color: var(--09-red);
}

body.dark-mode .create-invoice-buttons button.draft-btn{
  color: var(--05-very-light-purple);
  background-color: #373B53;
}

body.dark-mode input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

.item-input.error input, body.dark-mode .item-input.error input{
  border-color: var(--09-red);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CreateInvoice css */

/* mobile css */

/* tablet css */

@media only screen and (min-width: 768px){

  /* header css */

  .header{
    padding-right: 32px;
  }

  .header a, .header a img{
    height: 80px;
  }

  .header-wrapper{
    gap: 32px;
  }

  .header-wrapper span.divider{
    height: 80px;
  }

  /* header css */

  /* container css */

  /* InvoicesContainer css */

  .invoices-container, .invoice-details-container{
    padding: 61px 48px;
  }

  .invoices-info-container{
    margin-bottom: 55px;
  }

  .invoices-info h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 33.12px;
    letter-spacing: -1.13px;
    margin-bottom: 6px;
  }

  .invoices-action-buttons{
    gap: 40.54px;
  }

  .filter-btn-container button{
    gap: 14px;
  }

  .filter-btn-container.active .drop-down-menu{
    top: 37px;
    right: -50%;
    width: 192px;
  }

  .invoices-action-buttons a{
    padding: 8px 17px 8px 8px;
    gap: 16px;
  }

  .invoice-cart{
    padding: 16px 24px;
  }

  .invoice-cart-container{
    display: grid;
    grid-template-columns: 254px auto;
    align-items: center;
  }

  .invoice-cart-header{
    justify-content: start;
    gap: 28px;
    margin-bottom: 0;
  }

  .invoice-cart-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  .invoice-cart-body-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .invoice-cart-body-wrapper p{
    margin-bottom: 0;
  }

  .invoice-cart-status{
    width: 104px;
    padding: 14px 18px 11px;
    flex-shrink: 0;
  }

  .invoice-cart-status span{
    flex-shrink: 0;
  }

  .invoice-cart-status-container{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .invoice-cart-status-container img{
    rotate: -90deg;
  }

  .empty-invoices-container{
    height: calc(100vh - 416px);
  }

  .empty-invoices-container img{
    height: 200px;
    margin-bottom: 66px;
  }

  /* InvoicesContainer css */

  /* InvoiceDetails css */

  .invoice-status{
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .invoice-status-wrapper{
    gap: 20px;
  }

  .invoice-detail-container{
    margin-bottom: 0;
    padding: 32px;
  }

  .invoice-detail-container-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  .invoice-detail-container p.description{
    margin-bottom: 0;
    margin-top: 7px;
  }

  .bill-from{
    margin-bottom: 0;
  }

  .bill-from p{
    text-align: right;
  }

  .invoice-detail-container-wrapper{
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 47px;
  }

  .invoice-date-item p, .sent-to p{
    margin-bottom: 13px;
  }

  .invoice-date-item p:last-child, .sent-to p:last-child{
    margin-bottom: 0;
  }

  .bill-to p{
    line-height: 18px;
  }

  .sent-to{
    margin-bottom: 0;
  }

  .payment-items-header{
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .payment-items-header p{
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: var(--07-grayish-blue);
  }

  .payment-items-header-wrapper{
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .payment-items{
    padding: 0 32px 39px;
    gap: 32px;
  }

  .payment-item{
    flex-direction: row-reverse;
  }

  .payment-item p.price{
    color: var(--08-text-color);
    margin-bottom: 0;
  }

  .payment-item-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 278px;
    justify-items: center;
  }

  .payment-item-wrapper p:first-child{
    justify-self: start;
    margin-left: 10px;
  }

  .payment-item-wrapper p:last-child{
    justify-self: end;
  }

  .payment-item-wrapper p{
    color: var(--07-grayish-blue);
    margin-bottom: 0;
  }

  body.dark-mode .payment-item p{
    color: var(--06-gray);
  }

  .payment-item p.item-name{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--08-text-color);
  }

  body.dark-mode .payment-item p.item-name{
    color: var(--14-white);
  }

  .grand-total{
    padding: 27px 32px 21px;
  }

  .invoice-detail-buttons{
    padding: 0;
  }

  .invoice-detail-buttons button{
    outline: none;
    border: none;
  }

  .invoice-detail-buttons--tablet{
    display: flex;
  }

  .invoice-detail-buttons--mobile{
    display: none;
  }

  .invoice-detail-buttons .mark-btn{
    padding: 18px 23px 15px 24px;
    width: inherit;
  }

  .invoice-detail-buttons .edit-btn.pending-btn, .invoice-detail-buttons .delete-btn.pending-btn{
    width: inherit;
  }

  .modal{
    width: 100%;
  }

  .modal-content{
    padding: 51px 48px 48px;
    margin-inline: 0;
    max-width: 480px;
  }

  .modal-content h2{
    margin-bottom: 12px;
  }

  .modal-content p{
    margin-bottom: 14px;
  }

  /* InvoiceDetails css */

  /* EditInvoice css */

  .edit-modal{
    position: fixed;
    top: 80px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100dvh;
    display: flex;
    width: 100%;
  }

  .edit-invoice-container{
    height: calc(100dvh - 80px);
    padding: 56px 59px 0;
    border-radius: 0 20px 0 0;
    max-width: 616px;
  }

  .edit-invoice-container h1{
    margin-bottom: 46px;
  }

  .bill-from-form, .bill-to-form{
    margin-bottom: 49px;
  }

  .dates-wrapper{
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }

  .dates{
    margin-bottom: 27px;
  }

  .invoice-date-input-disabled{
    opacity: 0.5;
    width: 100%;
  }

  .payment-terms-input{
    width: 100%;
  }

  .item-list-form h2{
    margin-bottom: 14px;
  }

  .item-list-form-header{
    display: grid;
    grid-template-columns: 214px auto;
    margin-bottom: 15px;
  }

  .item-list-form-header p{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.1px;
    color: var(--07-grayish-blue);
  }

  .item-list-form-header-wrapper{
    display: grid;
    grid-template-columns: 46px 100px 43px;
    gap: 16px;
    margin-left: 16px;
  }

  .item-list-form .item{
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .item-list-form .item .item-wrapper{
    display: grid;
    grid-template-columns: 46px 100px auto auto;
    align-self: center;
    gap: 16px;
    margin-top: 0;
    width: 100%;
  }

  .item-list-form .item .item-wrapper img{
    margin-left: 0;
    margin-top: 0;
    align-self: center;
    justify-self: end;
  }

  .item-input .item-name-input {
    width: 214px !important; 
  }

  .qty-input{
    padding-inline: 10px !important;
    text-align: center;
  }

  .item-list-form .item .item-wrapper .item-total{
    align-self: inherit;
  }
  
  .edit-invoice-buttons{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 504px;
    padding: 31px 0;
    border-radius: 0 0 20px 0;
  }

  body.dark-mode .edit-invoice-buttons button:first-child, body.dark-mode .create-invoice-buttons button:first-child{
    color: var(--05-very-light-purple);
    background-color: var(--04-dark-blue);
  }
  
  .edit-invoice-buttons button:first-child{
    color: var(--07-grayish-blue);
    background-color: #F9FAFE;
  }

  /* EditInvoice css */

  /* CreateInvoice css */

  .invoice-date-input-active{
    position: relative;
    width: 100%;
  }

  .create-invoice-buttons{
    padding: 31px 0 31px;
    width: 504px;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: space-between;
    border-radius: 0 0 20px 0;
  }

  .create-invoice-buttons-wrapper{
    gap: 8px;
  }

  .create-invoice-buttons button.discard-btn{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--07-grayish-blue);
    padding: 18px 24px 15px 25px;
    background-color: #F9FAFE;
    border-radius: 24px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .invoices-action-buttons .new-invoice-btn{
    padding: 6px 15px 6px 6px;
    background-color: var(--01-purple);
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .invoices-action-buttons .new-invoice-btn span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--14-white);
  }
  
  .invoices-action-buttons .new-invoice-btn p{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--14-white);
    text-align: center;
    position: relative;
    top: 2px;
  }

  /* CreateInvoice css */

  .edit-invoice-container{
    animation: openSidebar 0.5s ease;
  }

  .edit-invoice-container.closing{
    animation: closeSidebar 0.3s ease;
  }

  .item-list-form button.edit-container-btn{
    margin-bottom: 0;
  }

}

/* tablet css */

/* desktop css */

@media only screen and (min-width: 1280px){

  .all-in-container{
    display: flex;
    position: relative;
  }

  /* header css */

  .header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    padding-right: 0;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    padding-bottom: 24px;
    z-index: 1000;
  }

  .header-wrapper{
    gap: 32px;
    flex-direction: column;
  }

  .header-wrapper span.divider{
    height: 1px;
    width: 80px;
  }

  /* header css */

  /* container css */

  /* InvoicesContainer css */

  .container{
    max-width: 730px;
    margin: 0 auto;
  }

  .filter-btn-container.active .drop-down-menu{
    right: inherit;
    left: -37px;
  }

  .invoice-cart{
    border: 1px solid transparent;
  }

  .invoices-container, .invoice-details-container{
    padding: 65px 0 15px;
  }

  .invoices-info-container{
    margin-bottom: 64px;
  }

  /* InvoicesContainer css */

  /* EditInvoice css */

  .edit-modal{
    top: 0;
    left: 80px;
    height: 100dvh;
  }

  .edit-invoice-container{
    height: calc(100dvh);
  }

  /* EditInvoice css */

  /* CreateInvoice css */

  .create-invoice-buttons-wrapper{
    gap: 8px;
  }

  .create-invoice-buttons button.discard-btn{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--07-grayish-blue);
    padding: 18px 24px 15px 25px;
    background-color: #F9FAFE;
    border-radius: 24px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .invoices-action-buttons .new-invoice-btn{
    padding: 6px 15px 6px 6px;
    background-color: var(--01-purple);
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .invoices-action-buttons .new-invoice-btn span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--14-white);
  }
  
  .invoices-action-buttons .new-invoice-btn p{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    color: var(--14-white);
    text-align: center;
    position: relative;
    top: 2px;
  }

  .edit-invoice-container::-webkit-scrollbar {
    width: 8px;
    height: 112px;
  }

  .edit-invoice-container::-webkit-scrollbar-thumb {
    background: var(--05-very-light-purple);
    border-radius: 4px;
  }

  body.dark-mode .edit-invoice-container::-webkit-scrollbar-thumb {
    background-color: var(--04-dark-blue);
  }

  .invoice-date-input{
    cursor: pointer;
  }

  /* CreateInvoice css */

  /* hovers */

  .filter-btn-container button{
    cursor: pointer;
  }

  .drop-down-menu label:hover span, body.dark-mode .drop-down-menu label:hover span{
    border-color: var(--01-purple);
    transition: all 0.5s;
  }

  .invoice-cart:hover{
    border: 1px solid var(--01-purple);
    transition: all 0.5s;
  }

  .invoices-action-buttons .new-invoice-btn:hover, .invoice-detail-buttons .mark-btn:hover, .create-invoice-buttons button:hover{
    background-color: var(--02-light-puple);
    transition: all 0.5s;
  }

  .go-back-btn:hover{
    color: var(--07-grayish-blue);
    transition: all 0.5s;
  }

  body.dark-mode .go-back-btn:hover{
    color: var(--06-gray);
    transition: all 0.5s;
  }

  .invoice-detail-buttons .delete-btn:hover, .modal-buttons a:hover{
    background-color: var(--10-red-hover);
    transition: all 0.5s;
  }

  .invoice-detail-buttons .edit-btn:hover, .create-invoice-buttons button.discard-btn:hover, body.dark-mode .create-invoice-buttons button.discard-btn:hover,  .modal-buttons button:hover{
    background-color: var(--05-very-light-purple);
    color: var(--07-grayish-blue);
    transition: all 0.5s;
  }

  body.dark-mode .invoice-detail-buttons .edit-btn:hover, body.dark-mode .create-invoice-buttons button.discard-btn, body.dark-mode .modal-buttons button:hover{
    background-color: var(--14-white);
    color: var(--07-grayish-blue);
    transition: all 0.5s;
  }

  .bill-from-form-input input:hover, .item-list-form .item input:hover, .payment-terms-input button:hover, .invoice-date-input:hover{
    border-color: var(--01-purple);
    transition: all 0.5s;
  }

  .date-picker-btns button:hover, body.dark-mode .date-picker-btns button:hover{
    color: var(--01-purple);
    transition: all 0.5s;
  }

  .create-invoice-buttons button.draft-btn:hover{
    background-color: var(--08-text-color);
    transition: all 0.5s;
  }

  body.dark-mode .create-invoice-buttons button.draft-btn:hover{
    background-color: var(--03-very-dark-blue);
    transition: all 0.5s;
  }

  /* hovers */
}

/* desktop css */

@keyframes openSidebar {
  0% {
    transform: translateX(-616px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes closeSidebar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-616px);
  }
}



